$site-width: 1920px;
$transition: 0.3s ease-out all;
$spacer: 10px;

$film13-grid-bp: 1060px;
$film13-grid-bp-lg: 1600px;

$gold: rgb(202, 166, 17);
$dark: rgb(0, 0, 0);
$light:rgb(232, 232, 232);
$gray: rgb(44,44,44);
$white: $light;

$blackBg: rgba( $dark, .85 );

$bp-lg: 1440px;
$bp-type: 1100px;
$bp-sm: 960px;

$grid-bp: $film13-grid-bp;
$grid-bp-lg: $film13-grid-bp-lg;
$tagline-container: 90%;


img {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

@mixin unsetUl() {
  list-style: none;
  padding-left: 0;
}

@mixin linkHover() {
  transition: .3s ease all;
  &:hover {
    color: $gold;
    cursor: pointer;
    .icon {
      fill: $gold !important;
    }
  }
}


@mixin subduedLink() {
  color: rgba($light, 0.8);
  transition: $transition;
  &:hover {
    cursor: pointer;
    color: $gold;
  }
}
@mixin fadeInStartKeyframe() {
  opacity: 0;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}


@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes popIn {
  from {
    transform: scale(0);
    opacity: 0;
  }

  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes slideDown {
  from {
    transform: translateY(-10px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}


@keyframes slideUp {
  from {
    transform: translateY(25vh);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}


@keyframes hoverOverlayFadeOut {
  from {
    opacity: 1;
    display: block;
  }
  
  to {
    opacity: 0;
    display: none;
    max-height: 0;
  }
}
@keyframes hoverOverlayEnter {
  from {
    opacity: 0;
    display: none;
    max-height: 0;
  }
  to {
    opacity: 1;
    display: block;
  }
}


// nunito 

/* latin-ext */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url(../nunito/XRXV3I6Li01BKofIO-aBTMnFcQIG.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url(../nunito/XRXV3I6Li01BKofINeaBTMnFcQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


// nunito sans

/* latin-ext */
@font-face {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url(../nunitosans/pe0qMImSLYBIv1o4X1M8ccezI9tAcVwob5A.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url(../nunitosans/pe0qMImSLYBIv1o4X1M8cce9I9tAcVwo.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

//

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100%;
  background: $dark;
  color: $light;
}

button {
  outline: 0;
  border-radius: 0;
  border: none;
  padding: 10px;
  background: rgb(225, 225, 225);
  &:hover {
    cursor: pointer;
    background: rgb(215, 215, 215);;
  }
}

// setup layout

html, body, #__nuxt, #__layout, #__layout > div {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: block;
}


// icons 

.icon {
  display: flex;

  * {
    transition: $transition;
    fill: $white !important;
    stroke: transparent !important;
  }

  &:hover,
  &.active {
    * {
      fill: $gold !important;
      stroke: transparent !important;
    }
  }
}


// new styles
.container {
  width: 100%;
  width: 100vw;
  height: 100%;
  // height: 100vh;
  max-height: 100%;
  // max-height: 100vh;
  overflow: hidden;
}

.container .layer-stack-wrapper {
  position: relative;
}
.container .layer-stack {
  position: absolute;
  // z-index: 10;
  top: 0;
  left: 0;
  min-height: 100%;
  // min-height: 100vh;
  width: 100%;
  width: 100vw;
  height: 100%;
  // height: 100vh;
  max-height: 100%;
  // max-height: 100vh;
  overflow: hidden;
}
.container .layer-stack-show {
  // opacity: 1;
  z-index: 10;
  &.layer-stack-intro-frames {
    z-index: 11;
  }
}

.iframe-wrapper {
  height: 100%;
  width: 100%;
  div {
    height: 100%;
    width: 100%;
  }
  iframe {
    height: 100%;
    width: 100%;
  }
}

.section-show-hide {
  position: relative;
}

.section-show {
  opacity: 1;
  max-height: 100%;
  z-index: 100;
}
.section-hide {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  z-index: 0;
}

.collapse-area {
  transition: .3s ease all;
}
.collapse-hide,
.collapse-hide * {
  max-height: 0;
  opacity: 0;
  display: none;
}


.collapse-show {
  max-height: auto;
  animation: .3s ease-out forwards fadeIn;
}


// HOVER GRID FOR FILM 13
// .grid-film13 // this is the parent, full size 
  // .hover // this is like iframe wrapper 
    // .hover-wrapper this is like player


.grid-film13 {
  width: 100%;
  height: 100%;
} 

.hover {
  display: flex;
align-items: center;
  justify-content: center;
  // @media (min-width: $grid-bp + 1) {
  //   padding: 0px 5.25%; // black box offset
  // }
  // @media (max-width: $grid-bp) {
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  // }
}



@media (min-width: 1250px) and (max-width: $grid-bp-lg) {
  .hover-wrapper,
  .grid-film13 .iframe-wrapper div {
    width: 999px !important;
    height: 749px !important;
  }
  .grid-film13 .iframe-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (min-width: $grid-bp + 1) and (max-width: 1249px) {
  .hover-wrapper,
  .grid-film13 .iframe-wrapper div {
    width: 768px !important;
    height: 576px !important;
  }
  .grid-film13 .iframe-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.hover-wrapper {
  // width: 100%;
  // height: 100%;
  
  // @media (min-width: $grid-bp + 1) {
  //   grid-template-columns: repeat(3, 1fr);
  //   padding: 2px;
  //   grid-gap: 2px;
  // }

  // // @media (max-width: $grid-bp) {
  // //   height: 563px;
  // //   grid-template-columns: repeat(3, 246px);
  // //   margin: 0 auto;
  // //   width: 738px;
  // //   grid-gap: 0;
  // //   padding: 0;
  // //   // max-width: calc(133.333vh);
  // //   // height: calc(75vw);
  // // }

  // @media (max-width: $grid-bp) {
  //   // width: 98vw;
  //   max-width: calc(133.333vh); 
  //   height: calc(75vw);
  //   margin: 0 auto;
  //   grid-template-columns: repeat(3, 1fr);
  // }
  // from vimeo iframe .player
  width: 100%;
  margin: 0;
  padding: 0;
  max-width: calc(133.333vh);
  height: calc(75vw);
  position: relative;
  max-height: 100%;
  overflow: visible;
  border-collapse: separate;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 2px;

  @media (min-width: $grid-bp-lg + 1) {
    padding: 6px 12px;
  }
  @media (min-width: 1250px) and (max-width: $grid-bp-lg) {
    padding: 2px 12px;
  }
  @media (min-width: $grid-bp + 1) and (max-width: 1249px) {
    padding: 2px 6px;
  }
  @media (min-width: $bp-sm + 1) and (max-width: $grid-bp) {
    padding: 0px 5px;
  }
  @media (min-width: 769px) and (max-width: $bp-sm) {
    padding: 1px 6px;
  }
  @media (max-width: 768px) {
    padding: 1px 4px;
    grid-gap: 1px;
  }
  
  .hover-item {
  //  border: 1px solid red;
    &:hover {
      cursor: pointer;
    }
  }
  .icon svg {
    width: 3ch;
    * {
      width: 100%;
    }
  }
}

.hover {
  position: relative;
}

.hover-wrapper-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 999;
  // background: pink;
  background: rgba(0,0,0,0);
}

.hover-wrapper-overlay-exit {
  animation: 1.2s ease-in 3s forwards hoverOverlayFadeOut;
}

.hover-wrapper-overlay-enter {
  animation: 1s ease-in forwards hoverOverlayFadeIn;
}

.hover-item {
  position: relative;
  .hover-item-text,
  .hover-item-darken {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.hover-item {
  .hover-item-text,
  .hover-item-darken {
    transition: .3s ease-in all;
  }
  .hover-item-text {
    opacity: 0;
  }
  .hover-item-darken {
    background: transparent;
  }
}

.hover-wrapper:hover {
  .hover-item-darken {
    background: rgba(0,0,0,0.8);
  }
}

.hover-wrapper {
  .hover-item:hover {
    .hover-item-text {
      opacity: 1;
    }
    .hover-item-darken {
      background: transparent;
    }
  } 
}

.grid-film13,
.modal-player-wrapper {
  transition: .3s ease all;
}

.hideFilm13Grid,
.hideModalPlayer {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
}

.showFilm13Grid,
.showModalPlayer {
  opacity: 1;
}

// typography

body {
  font-family: 'Work Sans', sans-serif;
}

button {
  font-family: 'Work Sans', sans-serif;
}


.site-logo,
.site-tagline,
.nunito {
  font-family: 'Nunito Sans', sans-serif;
  font-display: block;
}

// color

body {
  background: $dark;
  color: $light;
}

::-moz-selection { background: $light; color: $dark }
::selection { background: $light; color: $dark }



.visually-hidden {
  display: none;
}

.iframe-wrapper div {
  width: 100%;
  height: 100%;
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  // height: 0;
}



@media (max-width: $grid-bp) {
  .grid-film13 .iframe-wrapper div {
    padding-bottom: 0;
  }
}

.modal-player-wrapper iframe,
.iframe-wrapper iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


// typography

.title {
  font-weight: 400;
  font-size: 160px;
  line-height: 120px;
  text-transform: uppercase;
}

.headline {
  font-weight: 400;
  font-size: 72px;
  line-height: 86px;
  text-transform: uppercase;
  letter-spacing: .05px;
}

.about-container h2, 
.subheadline {
  font-weight: 400;
  font-size: 64px;
  line-height: 64px;
  text-transform: uppercase;
  letter-spacing: 4px;
}

h1, h2, h3, h4 {
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
}

// .about-container h3,
// .about-container h4, 
.credit-item-bio,
.tutorial-list-item-text,
p,
ul,
ol {
  font-weight: 400;
  font-size: 0.95em;
  letter-spacing: 0.03em;
  line-height: 1.8em;
  @media (max-width: $bp-sm) {
    font-size: 12px;
    line-height: 20px;
  }
}


.tutorial-list-item-text {
  line-height: 1.5em;
}
.small {
  font-size: .8em;
}

/* BUTTONS AND LINKS */

a,
.link {
  color: $gold;
  text-decoration: none;
  transition: $transition;
  &:hover {
    cursor: pointer;
    color: $light;
  }
}

.link-invert {
  color: $light;
  &:hover {
    color: $gold;
  }
}

.btn,
button,
.btn-hover {
  &:hover {
    cursor: pointer;
  }
}

button,
.btn {
  font-size: 18px;
  letter-spacing: 5px;
  text-transform: uppercase;
  // font-weight: 300;
  outline: 0;
  padding: $spacer*1.5 $spacer*3;
  background: $light;
  // border: 1px solid $dark;
  color: $dark;
  transition: $transition;
  a {
    color: $dark;
  }
  &.btn-transp {
    background: transparent;
    color: $light;
  }
}


button:not(:disabled):hover,
.btn:not(.disabled):hover {
  background: $gold;
}

@mixin unsetBtn() {
  background: transparent;
  font-size: 1em;
  letter-spacing: 0;
  text-transform: none;
  padding: 0;
  color: $light;
  &:not(:disabled):hover,
  &:hover {
    cursor: pointer;
    background: transparent;
  } 
}

button:disabled,
.btn.disabled {
  background: $gray;
  color: rgba($light, .5);
  &:hover {
    cursor: default;
  }
}

// layouts 

.container-layer-stack {
  width: 100%;
  height: 100%;
  position: relative;
  overflow-x: hidden;
}

// intro

.intro-sections {
  position: relative;
  > * {
    position: absolute;
    width: 100%;
    top: 0;
  }
}
.container-intro {
  width: 100%;
  height: 100%;

  text-align: center;
  position: relative;
  
  // height: 100vh;
  // overflow-y: scroll;
  
  header {
    // height: 90vh;
    padding-top: 35vh;
    @media (max-width: 768px) {
      padding-top: 100px;
    }

    .play-film13-button {
      margin: $spacer*3 0;
    }
    .subtitle-controls .section-title {
        font-size: 1em;
    }
  }

}

// home page grid

.container-intro header {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 3fr 1fr;
  height: 100%;

  .intro-sections-nav {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: $spacer 0;
  }
}

// film 13

.container-film13 {
  position: relative;
  overflow-x: hidden;
  height: 100%;
}

.container-film13 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid-film13 {
  position: relative;
  height: 100%;
  > * {
    width: 100%;
    height: 100%;
  //  border: 1px solid red;
    position: absolute;
    top: 0;
    left: 0;
  }
}


.video-grid-overlay {
  position: fixed;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  width: 100vw;
  height: 100%;
  // height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  // .hover {
  //   width: 100vw;
  //   height: 56.3vw;
  // }
}

.container-poster-images {
  opacity: 0.18;
  @media (max-width: $bp-sm) {
    opacity: 0.25;
  }
  .hover-item {
    overflow: hidden;
    img {
      min-width: 100%;
      min-height: 100%;
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
}


// modal

.container-filmmodal {
  background: rgba(0,0,0, 0.8);
  width: 100%;
  height: 100%;
  // height: 100vh;
  overflow: hidden;
//  border: 1px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
  @media (max-width: $bp-sm) {
    max-width: 100%;
    max-width: 100vw;
    max-height: 100%;
    // max-height: 100vh;
    overflow: hidden;
  }
}




// film13 grid
.hover-item-text {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;

  h2 {
    font-size: 1.3em;
    // flex: 1;
    display: flex;
    align-items: flex-end;
    @media (max-width: $bp-sm) {
      font-size: .9em;
    }
  }
  h3 {
    font-size: 1em;
    text-transform: none;
    @media (max-width: $bp-sm) {
      font-size: .7em;
    }
  }
  .icon {
    // position: absolute;
    // bottom: $spacer*2;
    flex: 0 0 $spacer*2;
    font-size: .8em;
    @media (max-width: $bp-sm) {
      font-size: .5em;
    }
    padding-top: $spacer;
    &:hover {
      fill: $gold;
    }
  }
}

.hover-item {
  h2, h3, .icon {
    opacity: 0;
  }
}

.hover-item:hover {
  background: rgba(0,0,0,0.3);
  h2 {
    animation: .4s ease-in forwards fadeIn;
  }
  h3 {
    animation: .3s ease-in .1s forwards fadeIn;
  }
  .icon {
    animation: .3s ease-in forwards slideDown;
  }
}


.supporters-gallery {
  ul {
    @include unsetUl;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    > * {
      flex: 0 0 22%;
      @media (max-width: $bp-sm) {
        flex: 0 0 50%;
      }
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        max-width: 100%;
      }
    }
  }
}

// credits

ul.credits-list {
  @include unsetUl;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: auto;
  padding-bottom: $spacer*3;
  > * {
    place-self: center;
  }

  .credit-item-header-text {
    text-align: center;
  }
}
.credit-component .role {
  text-transform: none;
  letter-spacing: 0;
}

// credits accordion

.credit-component {
  grid-column: span 1;
  .credit-item-header {
    margin-top: $spacer*3;
    text-align: center;
  }

  &:not(.secondary) .credit-item-header {
    cursor: pointer;
  }

  &.accordion-open {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 3;
  }

  &.accordion-collapsed {
    width: 100%;
    height: 100%;
  }
}

.accordion-open {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  .credit-item-header {
    display: flex;
    flex-direction: column;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  .credit-item-bio {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    padding-bottom: $spacer*3;
  }
}

.accordions-hide-collapsed {
  .accordion-collapsed {
    display: none;
  }
}

.credit-component.secondary {
  grid-column: span 2;
  a {
    color: $light;
    &:hover {
      color: $gold;
    }
  }
}

.credits-section a {
  color: $light;
  &:hover {
    color: $gold;
  }
}
@media (min-width: $bp-sm) {
  .credit-item-image .placeholder {
    width: 300px;
    height: 300px;
    margin: 0 auto;
  }
}
@media (max-width: $bp-sm) {
  .credit-item-image {
    max-width: 100px;
    margin: 0 auto;
    img {
      max-width: 100%;
    }
  }
  .credit-item-header-text {
    h2 {
      font-size: 1.1em;
      line-height: 1.3em;
    }
    h3 {
      margin-top: $spacer/2;
      font-size: 12px;
      line-height: 16px;
    }
  }

  .credit-component.accordion-open {
    display: flex;
    flex-direction: column;
    .credit-item-bio {
      margin-top: $spacer;
    }
  }
}


// intro sections typography

.site-logo, .site-tagline, .subtitle-controls {
  color: rgba($light, 0.8);
}
.site-logo {
  margin: 0;
  font-size: 102px;
  line-height: 102px;
  text-align: center;
  text-transform: none;
  @media (max-width: $bp-sm) {
    font-size: 60px;
    line-height: 60px;
  }
}

.site-tagline,
.site-tagline * {
  font-size: 28px;
  line-height: 40px;
  letter-spacing: 0;
  max-width: 80ch;
  margin: 0 auto;
  @media (max-width: $bp-sm) {
    font-size: 18px;
    line-height: 28px;
    margin-top: $spacer*2;
  }
  letter-spacing: 0;
}

.site-tagline {
  width: $tagline-container;
  margin: 0 auto;
  margin-top: $spacer*3;
}
.section-title {
  margin: $spacer*3 0 $spacer 0;
  text-align: center;
}

ul.subtitles {
  @include unsetUl;
  display: flex;
  justify-content: center;
  > * {
    padding-right: $spacer*3;
    &:last-child {
      padding-right: 0;
    }
    @include linkHover;
  }
  .active-sub {
    color: $gold;
  }
}


.section-subtitle {
  margin: $spacer*6 0 $spacer*2 0;
  text-align: center;
  .credits-section & {
    font-size: 2em;
  }
}

.body-text {
  margin: 0;
  p {
    margin-bottom: 1em;
  }
  @media (max-width: 70ch) {
    width: 90%;
    margin: 0 auto;
  }
}

// header 




// animations and transitions

.intro-sections .section-show,
.site-logo,
.site-tagline,
.play-film13-button,
.subtitle-controls,
.container-intro .intro-sections-nav {
  @include fadeInStartKeyframe();
}

.site-logo {
  animation: .3s ease-in forwards fadeIn;
}

.site-tagline {
  animation: .3s ease-in .5s forwards fadeIn;
}

.play-film13-button,
.subtitle-controls {
  animation: .4s ease-in .9s forwards fadeIn;
}


.container-intro .intro-sections-nav {
  animation: .3s ease-in 1s forwards fadeIn;
}


.layer-stack-intro {
  transition: 1s ease transform;
}
.layer-stack-show.layer-stack-intro {
  transform: translateX(0);
}
.layer-stack-hidden.layer-stack-intro {
  transform: translateX(-100vw);
}

.layer-stack-film13 {
  transition: 1s ease opacity;
}
.layer-stack-hidden.layer-stack-film13 {
  opacity: 0;
}
.layer-stack-show.layer-stack-film13 {
  opacity: 1;
}

.layer-stack-film-modal {
  transition: 1s ease opacity;
}
.layer-stack-hidden.layer-stack-film-modal {
  opacity: 0;
}
.layer-stack-show.layer-stack-film-modal {
  opacity: 1;
}

.layer-stack-hidden {
  z-index: 0;
  // max-height: 0;
  overflow: hidden;
}

.layer-stack-show {
  z-index: 10;
}

// INTRO FRAMES 

.layer-stack-intro {
  max-height: 100%;
  // max-height: 100vh;
  overflow: hidden;
}

.layer-stack-intro-frames {
  background: rgba($dark, 0.8);
}
.layer-stack-intro-frames .close-button-container button {
    position: fixed;
    z-index: 999;
    top: $spacer*3;
    right: $spacer*3;
    @include unsetBtn();
    .icon {
      border: 1px solid $gold;
      padding: $spacer/2;
      width: $spacer*3;
      height: $spacer*3;
    }
    .icon * {
      height: 100%;
      vertical-align: middle;
    }
    &:hover {
      background: transparent !important;
      cursor: pointer;
      .icon, 
      .icon * {
        fill: $gold !important;
      }
    }
}

.intro-frame:not(.section-hide) {
  // width: 70%;
  // width: 70vw;
  max-width: 800px;
  margin: 0 auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15%;
  margin-top: 15vh;
  height: 80%;
  height: 80vh;
  @media (max-width: 800px) {
    width: 90%;
    width: 90vw;
  }
}

.inactive-tab,
.intro-frame.section-hide {
  height: 0;
  opacity: 0;
}




// 
.tutorialFrame {
  background: rgba($dark, 0.9);
  max-width: 800px;
  margin: 0 auto;
  @media (max-width: 800px) {
    max-width: 90%;
  }
  border: 1px solid $gold;
  padding: $spacer;
  .body-text {
    max-width: 60ch;
    margin: 0 auto;
  }
}


.tab-group-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 5% 1fr;
  grid-template-rows: 5vh 1fr;

  background: rgba($dark, 0.9);

  max-width: 800px;
  margin: 0 auto;
  @media (max-width: 800px) {
    max-width: 90%;
  }


  > * {
    border: 1px solid $gold;
    padding: $spacer;
    &.tab-item-title {
      border-bottom: none;
    }
    &:first-child {
      border-right: none;
    }
  }
}

.tab-item-title {
  grid-row-start: 1;
  grid-row-end: 2;
  transition: .3s ease all;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  font-weight: 400;
  &:not(.active-tab-title):hover {
    background: rgba($gray, 0.5);
    color: $gold;
    cursor: pointer;
  }
  @media (max-width: $bp-sm) {
    font-size: 12px;
  }
}
.active-tab-title {
  color: $gold;
}
.tab-item-content {
  padding-top: $spacer*6;
  @media (max-width: $bp-sm) {
    padding-top: $spacer*3;
  }
  opacity: 1;
  transition: .2s ease opacity;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  overflow-y: scroll;
  max-height: 75%;
  max-height: 75vh;

  &:not(.tab-item-content-accordion) *:last-child {
    margin-bottom: $spacer*3;
  }

  .body-text {
    max-width: 60ch;
    margin: 0 auto;
  }

  .media-gallery {
    padding: 0 $spacer*3;
  }
}

.inactive-tab {
  opacity: 0;
}

.active-tab {
  z-index: 999;
}

// FILM TILE NAVIGATION 
.film-tile-navigation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100%;
  // min-height: 100vh;
}



.modal-navigation-container {
   width: 100%;
   width: 100vw;
   margin: 0 auto;
   display: flex;
   @media (max-width: $bp-sm) {
     padding-top: $spacer*3;
    flex-direction: column;
   }
   position: relative;
   z-index: 999;
   .modal-navigation-item {
     flex: 0 0 50%;
     @media (min-width: $bp-sm) {
      padding: $spacer*3;
     }
     display: flex;
     flex-direction: column-reverse;
     @media (max-width: $bp-sm) {
      flex-direction: row-reverse;
      padding: $spacer 0;
      align-items: center;
     }
     justify-content: center;
     background: transparent;
     transition: $transition;
     * {
       transition: .3s ease color;
     }
     img {
       opacity: 1;
       transition: .3s ease opacity;
     }
     &:hover {
       cursor: pointer;
       * {
         color: $gold;
       }
     }
   } 

   .text {
     margin-top: $spacer*3;
     @media (max-width: $bp-sm) {
       margin-top: 0;
       margin-left: $spacer;
     }
   }
   h3 {
     text-transform: none;
   }
   img {
     max-width: 100%;
   }
}

.countdown button {
  @include unsetBtn;
  padding: $spacer*3;
  @include subduedLink;
}



// FULLSCREEN COMPONENT

.fullscreenWrapper {
  width: 100%;
  height: 100%;
  max-height: 100%;
  // max-height: 100vh;
  overflow: hidden;
  background: $dark !important;
}

// FILM13 REMOTE
$remoteIconWidth: 22px;
$remoteIconPadding: 11px;
.film13-remote {
  // position: absolute;
  // z-index: 99;
  // bottom: 0;
  // right: 0;
  padding: $spacer/2 $spacer*2;
  @media (max-width: $bp-sm) {
    left: 0;
    top: 80px;
    width: 100%;
  }

  button {
    @include unsetBtn;
  }
  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    // width: $remoteIconWidth*3 + $remoteIconPadding*6.1;
    > * {
      flex: 0 0 $remoteIconWidth + $remoteIconPadding;
      padding: $remoteIconPadding/2;
      // border: 1px solid $white;
      svg {
        width: $remoteIconWidth;
        height: $spacer*3;
      }
      &:hover {
        cursor: pointer;
      }

      .icon {     
        * {
          fill: rgba($light, 0.6) !important;
        }
        &:hover * {
          fill: rgba($light, 1) !important;
        }
        &.active * {
          fill: $gold !important;
        }
      }
    }
    list-style: none;
  }
}

.close-button-container,
.close-modal-container {
  width: 100%;
  width: 100vw;
  height: 100%;
  // height: 100vh;
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  button {
    @include unsetBtn();
  }
  &:hover {
    cursor: pointer;
  }
}
.close-modal-container {
  .close-modal-button {
    width: $spacer*3;
    height: $spacer*3;
    position: absolute;
    right: $spacer;
    top: $spacer;
    .icon {
      height: 100%;
    }
    .icon * {
      height: 100%;
      fill: $gray !important;
      @media (max-width: $bp-sm) {
        fill: $light !important;
      }
    }
    &:hover {
      .icon * {
        fill: $gold !important;
      }
    }
  }

}
.modal-player-wrapper {
  z-index: 10;
  position: relative;
}


// BUTTON WITH ICON

.button-icon {
  display: flex;
  align-items: center;
  .icon * {
    fill: $dark !important;
  }
}


.logo, .brand {
  text-transform: none !important;
  letter-spacing: 0;
}


// stacking order 

.grid-film13 {
  z-index: 90;
}


// INTRO SECTIONS NAV on home page 
.container-intro {
  height: 100%;
  // height: 100vh;
  max-height: 100%;
  // // max-height: 100vh;
  // overflow-y: hidden;
}
.container-intro .intro-sections-nav {
  // position: absolute;
  // bottom: $spacer*3; 
  // width: 100%;
  // width: 100vw;
  button {
    @include unsetBtn();
    text-transform: uppercase;
    @include subduedLink();
    color: rgba($light, 0.4);
    width: 100%;
    height: 100%;
  }

  
  ul {
    @include unsetUl();
    display: flex;
    width: $tagline-container;
    margin: 0 auto;
    justify-content: space-between;
    text-align: center;
    > * {
      flex: 1;
    }
  }
}

// iamge loader component 

.image-loader {
  animation: .5s ease fadeIn;
}


// tutorial

.tutorial-list {
  @include unsetUl;
  display: flex;
  flex-wrap: wrap;
  @media (min-width: $bp-sm) {
    width: 80%;
    margin: 0 auto;
  }
  > * {
    flex: 50%;
  }
  .tutorial-list-item-image {
    .image {
      margin-bottom: 0 !important;
    }
    img {
      margin-bottom: 0 !important;
      max-width: 150px;
      max-height: 150px;
    }
  }
  .tutorial-list-item {
    display: flex;
    flex-direction: column;
    padding: $spacer*3;
    text-align: center;

  }
  .placeholder-icon {
    height: 150px;
    width: 150px;
    margin: 0 auto;
    background: $gray;
  }
  .tutorial-list-item-text {
    margin-bottom: 0 !important;
  }
}

.film-tile-navigation {
  figure {
    width: 100%;
    height: 24vw;
    @media (max-width: $bp-sm) {
      flex: 0 0 50%;
      height: unset;
    }
    background: $dark;
    .placeholder {
      width: 100%;
      height: 24vw;
      @media (max-width: $bp-sm) {
        height: unset;
      }
    }
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .text {
    margin-top: $spacer;
    h2 {
      font-size: 1.1em;
    }
    h3 {
      font-size: 1em;
    }
  }
}

// modal grid layout 

$modal-bp: 960px;
.modal-grid-wrapper {
  display: grid;
  position: relative;
  z-index: 999;
  width: 100%;
  @media (min-width: $modal-bp + 1) {
    margin-top: 10%;
    margin-top: 10vh;
    max-width: 1950px;
    max-height: 80%;
    max-height: 80vh;
    margin: 0 auto;
    grid-template-columns: 15ch 1fr 15ch;
    grid-template-rows: 1fr;
    .pagination-button-container {
      display: flex;
      justify-content: center;
      align-items: center;
      button {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
        justify-content: center;
        .icon {
          display: flex;
          flex-direction: column;
          align-items: center;
          * {
            fill: $gray !important;
          }
        }
        .text {
          padding-top: $spacer;
          h2 {
            font-size: 1.2em;
          }
          h3 {
            font-size: 1em;
          }
        }
      }
    }
  }
  @media (max-width: $modal-bp) {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: $spacer*2;
    @media (max-width: $bp-sm) {
      grid-row-gap: $spacer*4;
    }
    grid-template-rows: repeat(2, min-content);
    .modal-player-wrapper {
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 1;
      grid-row-end: 2;
    }
    .pagination-button-prev {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 2;
      grid-row-end: 3;
    }
    .pagination-button-next {
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 2;
      grid-row-end: 3;
    }

    .pagination-button-container button {
      display: flex;
      align-items: center;
      height: 100%;
      width: 100%;
      .text {
        flex: 1;
        @media (max-width: $bp-sm) {
          h2 {
            font-size: 18px;
          }
          h3 {
            font-size: 14px;
          }
        }
      }
      .arrow {
        flex: 0 0 $spacer*3;
        .icon * {
          fill: $gray !important;
          @media (max-width: $bp-sm) {
            fill: $light !important;
          }
        }
      }
    }
    .pagination-button-container.pagination-button-prev button {
      flex-direction: row-reverse;
      justify-content: flex-start;
      .arrow .icon {
        display: flex;
        width: 100%;
        justify-content: flex-end;
      }
    }
  }
}

.modal-grid-wrapper .pagination-button-container {
  button {
    @include unsetBtn();
  }
  h3 {
    text-transform: none;
  }
  .icon {
    height: $spacer*3;
  }
  &:hover {
    * {
      color: $gold;
      fill: $gold !important;
    }
  }
}

.modal-grid-wrapper .pagination-button-container {
  .text {
    opacity: 0;
    transition: $transition;
  }
  &:hover {
    .text {
      opacity: 1;
    }
    .arrow {
      flex: 0 0 $spacer*3;
      .icon * {
        fill: $gold !important;
      }
    }
  }

  .arrow {
    transform: translateX(0);
    transition: $transition;
  }
  &.pagination-button-prev:hover {
    .arrow {
      transform: translateX(-$spacer);
    }
  }
  &.pagination-button-next:hover {
    .arrow {
      transform: translateX($spacer);
    }
  }
}

.modal-grid-wrapper .pagination-button-container {
  @include fadeInStartKeyframe();
}

.modal-grid-wrapper .pagination-button-container {
  animation: .9s ease-in 2s forwards fadeIn;
}




// FILM13-MAIN-NAV component

.film13-main-nav {
  button {
    @include unsetBtn;
    text-transform: uppercase;
    &:hover {
      color: $gold;
    }
  }
  ul {
    @include unsetUl;
  }
  .brand {
    font-size: 36px;
  }
}

// film13 grid layout 
.film13-grid-wrapper {
  @media (max-width: $film13-grid-bp) {
    display: grid;
    height: 100%;
    // height: 100vh;
    grid-template-columns: 100%;
    grid-template-columns: 100vw;
    grid-gap: $spacer*2;
    grid-template-rows: 100px 1fr 100px;
    .film13-main-nav {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 1;
      grid-row-end: 2;
    }
    .film13-remote {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 3;
      grid-row-end: 4;
      align-self: end;
      padding-bottom: $spacer;
    }
    .container-film13 {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 2;
      grid-row-end: 3;
      overflow: hidden;
    }

    .film13-main-nav {
      text-align: center;
      ul {
        // display: flex;
        // justify-content: center;
        // flex-direction: row;
        > * {
          padding: $spacer;
        }
      }
      * {
        color: rgba($light, 0.7);
        transition: $transition;
      }
    }
  }
  @media (min-width: $film13-grid-bp + 1) {
    display: grid;
    grid-template-columns: 15ch 1fr 15ch;
    width: 100%;
    width: 100vw;
    height: 100%;
    // height: 100vh;
    grid-template-rows: 1fr;
    .film13-player-wrapper {
      padding-bottom: 0;
    }
    .film13-main-nav {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 1;
      grid-row-end: 2;
    }
    .film13-remote {
      grid-column-start: 3;
      grid-column-end: 4;
      grid-row-start: 1;
      grid-row-end: 2;
      align-self: end;
    }
    .container-film13 {
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 1;
      grid-row-end: 2;
    }
    .film13-main-nav,
    .film13-remote {
      padding: $spacer*2;
    }

    .film13-main-nav {
      ul {
        @include unsetUl;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
      }
    }
  }
}

@mixin slideInStartKey {
    transform: translateX(-100px);
    opacity: 0;
}


@keyframes slideRight {
  from {
    transform: translateX(-15ch);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}


@media (min-width: $film13-grid-bp) {
  .film13-grid-wrapper 
  .film13-main-nav {
    text-align: left;
    .logo {
      @include slideInStartKey;
    }
    .layer-stack-show & {
      .logo {
        animation: .5s ease-in forwards slideRight;
      }
    }
    button {
      text-align: left;
      width: 100%;
    }
    .dropdown {
      opacity: 0;
      transition: opacity .3s;
      @include slideInStartKey();
    }
    &:hover {
      .dropdown {
        opacity: 1;
        animation: .3s ease-in-out forwards slideRight;
      }
    }
    li {
      width: 100%;
      padding: $spacer/2;
      button {
        width: 100%;
      }
    }
  }
}

// replay grid

.replay-film13 {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-rows: 1fr min-content;
  grid-template-columns: 1fr;
  position: absolute; 
  top: 0;
  left: 0;
  z-index: 999;
  background: rgba($dark, 0.9);

  .film-tile-navigation {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    height: 100%;
    justify-content: center;
  }

  .replay-button-container {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    display: flex;
    justify-content: center;
    width: 100%;
    padding-bottom: $spacer;
    .icon {
      width: $spacer*2;
      height: $spacer*2;
      display: inline-block;
      margin-left: $spacer;
      display: flex;
      justify-content: center;
      align-items: center;
      svg {
        vertical-align: middle;
        fill: $dark !important;
      }
    }
}
}


// hide full screen on mobile

@media (max-width: $bp-sm) {
    .fullscreen-btn {
      display: none;
    }
}

// mobile nav

@media (min-width: $grid-bp + 1) {
  .mobile-menu-button {
    display: none;
  }
}
@media (max-width: $bp-sm) {

  .mobile-menu-button {
    width: 30px;
    height: 30px;
    position: absolute;
    top: $spacer/2;
    left: $spacer/2;
  }
  .dropdown {
    transition: .3s ease left, .3s ease background;
    position: absolute;
    z-index: 999;
    top: 40px;
    left: -100%;
    left: -100vw;
    width: 100%;
    height: 100%;
    background: transparent;
    * {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    nav {
      height: 60%;
      margin-top: 10%;
    }
    ul {
      justify-content: space-between;
      height: 100%;
      li button {
        color: $light;
        font-size: 30px;
        &:hover {
          color: $gold;
        }
      }
    }
  }
  // .mobile-menu-collapsed.dropdown {
  //   display: none;
  // }
  .mobile-menu-open.dropdown {
    left: 0;
    top: 40px;
    background: rgba($dark, 1);
  }
}