$site-width: 1920px;
$transition: 0.3s ease-out all;
$spacer: 10px;

$gold: rgb(202, 166, 17);
$dark: rgb(0, 0, 0);
$light:rgb(232, 232, 232);
$gray: rgb(44,44,44);
$white: $light;

$blackBg: rgba( $dark, .85 );

$bp-lg: 1440px;
$bp-type: 1100px;
$bp-sm: 960px;

$grid-bp: 1060px;

@mixin unsetUl() {
  list-style: none;
  padding-left: 0;
}

@mixin linkHover() {
  transition: .3s ease all;
  &:hover {
    color: $gold;
    cursor: pointer;
    .icon {
      fill: $gold !important;
    }
  }
}



@mixin fadeInStartKeyframe() {
  opacity: 0;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}


@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes popIn {
  from {
    transform: scale(0);
    opacity: 0;
  }

  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes slideDown {
  from {
    transform: translateY(-10px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}


@keyframes slideUp {
  from {
    transform: translateY(25vh);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}


// nunito 

/* latin-ext */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url(../nunito/XRXV3I6Li01BKofIO-aBTMnFcQIG.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url(../nunito/XRXV3I6Li01BKofINeaBTMnFcQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

//

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #000000;
  color: #ffffff;
}

button {
  outline: 0;
  border-radius: 0;
  border: none;
  padding: 10px;
  background: rgb(225, 225, 225);
  &:hover {
    cursor: pointer;
    background: rgb(215, 215, 215);;
  }
}

// new styles
.container {
  width: 100%;
  width: 100vw;
  height: 100%;
  height: 100vh;
}

.dev-controls {
  position: fixed;
  z-index: 999;
  top: 0;
  right: 0;
  ul {
    display: flex;
    list-style: none;
    li {
      margin: 10px;
    }
  }
}

.container-film13 {
  width: 100%;
  height: 100%;
}

.container .layer-stack-wrapper {
  position: relative;
}
.container .layer-stack {
  position: absolute;
  // z-index: 10;
  top: 0;
  left: 0;
  // min-height: 100%;
  // min-height: 100vh;
  width: 100%;
  width: 100vw;
}
.container .layer-stack-show {
  // opacity: 1;
  z-index: 10;
}
.container .layer-stack-hidden {
  // opacity: 0;
  // z-index: 0;
  // max-height: 0;
  // overflow: hidden;
}




.iframe-wrapper {
  height: 100%;
  width: 100%;
  div {
    height: 100%;
    width: 100%;
  }
  iframe {
    height: 100%;
    width: 100%;
  }
}

.section-show-hide {
  position: relative;
}

.section-show {
  opacity: 1;
  max-height: 100%;
  z-index: 100;
}
.section-hide {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  z-index: 0;
}

.collapse-area {
  transition: .3s ease all;
}
.collapse-hide,
.collapse-hide * {
  max-height: 0;
  opacity: 0;
  display: none;
}


.collapse-show {
  max-height: auto;
  animation: .3s ease-out forwards fadeIn;
}

.countdown {
  height: 2ch;
  width: 2ch;
  font-size: 18px;
  display: inline-block;
  margin-right: 1ch;
  // background: #ffffff;
  color: #ffffff;
  &:after {
    width: 100%;
    height: 100%;
    content: ' ';
    animation: countdown 5s;
  }
}


@keyframes countdown {
  0% {
    content: ' '
  }
  20% {
    content: ' 5'
  }
  40% {
    content: ' 4'
  }
  60% {
    content: ' 3'
  }
  80% {
    content: ' 2'
  }
  100% {
    content: ' 1'
  }
}


.hover {
  @media (min-width: $grid-bp + 1) {
    padding: 0px 13.25vw; // black box offset
  }
  @media (max-width: 758px) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.hover-wrapper {
  width: 100%;
  height: 100%;
  display: grid;
  @media (min-width: $grid-bp + 1) {
    grid-template-columns: repeat(3, 1fr);
    padding: 2px;
    grid-gap: 2px;
  }

  @media (min-width: 759px) and (max-width: $grid-bp) {
    height: 563px;
    grid-template-columns: repeat(3, 246px);
    margin: 0 auto;
    width: 738px;
    grid-gap: 0;
    padding: 0;
  }

  @media (max-width: 758px) {
    width: 98vw;
    max-width: calc(133.333vh); 
    height: calc(75vw);
    margin: 0 auto;
    grid-template-columns: repeat(3, 1fr);
  }

  grid-template-rows: repeat(4, 1fr);
  .hover-item {
  //  border: 1px solid red;
    &:hover {
      cursor: pointer;
    }
  }

  .icon svg {
    width: 3ch;
    * {
      width: 100%;
    }
  }
}

@keyframes hoverOverlayFadeOut {
  from {
    opacity: 1;
    display: block;
  }
  
  to {
    opacity: 0;
    display: none;
    max-height: 0;
  }
}
@keyframes hoverOverlayEnter {
  from {
    opacity: 0;
    display: none;
    max-height: 0;
  }
  to {
    opacity: 1;
    display: block;
  }
}
.hover {
  position: relative;
}

.hover-wrapper-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 999;
  // background: pink;
  background: rgba(0,0,0,0);
}

.hover-wrapper-overlay-exit {
  animation: 1.2s ease-in 4s forwards hoverOverlayFadeOut;
}

.hover-wrapper-overlay-enter {
  animation: 1s ease-in forwards hoverOverlayFadeIn;
}

.hover-item {
  position: relative;
  .hover-item-text,
  .hover-item-darken {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.hover-item {
  .hover-item-text,
  .hover-item-darken {
    transition: .3s ease-in all;
  }
  .hover-item-text {
    opacity: 0;
  }
  .hover-item-darken {
    background: transparent;
  }
}

.hover-wrapper:hover {
  .hover-item-darken {
    background: rgba(0,0,0,0.8);
  }
}

.hover-wrapper {
  .hover-item:hover {
    .hover-item-text {
      opacity: 1;
    }
    .hover-item-darken {
      background: transparent;
    }
  } 
}

.link-hover:hover {
  cursor: pointer;
}

.grid-film13,
.modal-player-wrapper {
  transition: .3s ease all;
}

.hideFilm13Grid,
.hideModalPlayer {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
}

.showFilm13Grid,
.showModalPlayer {
  opacity: 1;
}

.pagination-info {
  display: block;
  max-height: 0;
}

// designing now...a 

// typography

body {
  font-family: 'Work Sans', sans-serif;
}

button {
  font-family: 'Work Sans', sans-serif;
}


.site-logo,
.nunito {
  font-family: 'Nunito', sans-serif;
}

// color

body {
  background: $dark;
  color: $light;
}

::-moz-selection { background: $light; color: $dark }
::selection { background: $light; color: $dark }



.visually-hidden {
  display: none;
}

.modal-player-wrapper div,
.iframe-wrapper div {
  width: 100%;
  height: 100%;
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  // height: 0;
}

@media (max-width: $grid-bp) {
  .grid-film13 .iframe-wrapper div {
    padding-bottom: 0;
  }
}

.modal-player-wrapper iframe,
.iframe-wrapper iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


// typography


.title {
  font-weight: 500;
  font-size: 160px;
  line-height: 120px;
  text-transform: uppercase;
}

.headline {
  font-weight: 500;
  font-size: 72px;
  line-height: 86px;
  text-transform: uppercase;
  letter-spacing: .05px;
}

.about-container h2, 
.subheadline {
  font-weight: 500;
  font-size: 64px;
  line-height: 64px;
  text-transform: uppercase;
  letter-spacing: 4px;
}

h1, h2, h3, h4 {
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
}

// .about-container h3,
// .about-container h4, 
p,
ul,
ol {
  font-weight: 400;
  font-size: 0.95em;
  letter-spacing: 0.03em;
  line-height: 1.8em;
}

.small {
  font-size: .8em;
}

/* BUTTONS AND LINKS */


a,
.link {
  color: $gold;
  text-decoration: none;
  transition: $transition;
  &:hover {
    cursor: pointer;
    color: $light;
  }
}

.link-invert {
  color: $light;
  &:hover {
    color: $gold;
  }
}

.btn,
button,
.btn-hover {
  &:hover {
    cursor: pointer;
  }
}

button,
.btn {
  font-size: 18px;
  letter-spacing: 5px;
  text-transform: uppercase;
  // font-weight: 300;
  outline: 0;
  padding: $spacer*1.5 $spacer*3;
  background: $light;
  // border: 1px solid $dark;
  color: $dark;
  transition: $transition;
  a {
    color: $dark;
  }
  &.btn-transp {
    background: transparent;
    color: $light;
  }
}


button:not(:disabled):hover,
.btn:not(.disabled):hover {
  background: $gold;
}

@mixin unsetBtn() {
  background: transparent;
  font-size: 1em;
  letter-spacing: 0;
  text-transform: none;
  padding: 0;
  color: $light;
  &:not(:disabled):hover,
  &:hover {
    cursor: pointer;
    background: transparent;
  } 
}

button:disabled,
.btn.disabled {
  background: $gray;
  color: rgba($light, .5);
  &:hover {
    cursor: default;
  }
}


.loading-btn {
  animation: 5s cubic-bezier(.93,.37,.56,.65) infinite alternate loadingPulse;
}

@keyframes loadingPulse {
  0% {
    background: $dark;
    color: $light;
  }
  100% {
    background: $light;
    color: $dark;
  }
}


.play-btn {
  display: flex;
  align-items: center;
  &:after {
    content: '►';
    margin-left: $spacer;
    font-size: 14px;
    color: $dark;
    animation: 1s cubic-bezier(.93,.37,.56,.65) infinite alternate colorPulse1;
    transform: translateX(0);
    transition: .4s cubic-bezier(.28,.73,.7,.74) transform;
  }
  &:hover:after {
    color: $dark !important;
    transform: translateX($spacer);
  }
}

@keyframes colorPulse1 {
  0% {
    color: $dark;
  }
  100% {
    color: $gold;
  }
}


// layouts 

body {
  width: 100%;
  min-height: 100vh;
  height: 100%;
}
.container-layer-stack {
  width: 100%;
  height: 100%;
  position: relative;
  overflow-x: hidden;
}

// intro

.intro-sections {
  position: relative;
  > * {
    position: absolute;
    width: 100%;
    top: 0;
  }
}
.container-intro {
//  border: 1px solid red;
  width: 100%;
  height: 100%;

  text-align: left;
  position: relative;
  
  height: 100vh;
  overflow-y: scroll;
  
  header {
    // height: 90vh;
    padding-top: 35vh
  }

  header,
  section {
    .text-wrapper {
      max-width: 70ch;
      margin: 0 auto;
    }
    .credits-section {
      max-width: 85ch;
      margin: 0 auto;
    }

  //  border: 1px solid red;

    nav {
      text-align: center;
      margin: $spacer*3 0;
    }
  }
}

.subtle-links {
  display: flex;
  width: 100%;
  justify-content: center;
  list-style: none;
  padding: 0;
  > * {
    padding: $spacer;
  }
  button {
    font-size: 1em;
    // text-transform: none;
    letter-spacing: 0;
    background: transparent;
    &:hover {
      background: transparent;
    }
    padding: 0;
    transition: $transition;
    &.active-link {
      color: $gold;
      &:hover {
        color: $gold;
        cursor: default;
      }
    }
    &.inactive-link {
      color: rgba($light, 0.7);
      &:hover {
        color: $gold;
      }
    }
  }
}


// film 13

.brand {
  font-family: 'Nunito', sans-serif;
  @include unsetBtn();
  font-size: 2em;
  padding-top: $spacer;
  padding-left: $spacer;
  padding-bottom: $spacer*2;
  &:hover {
    color: $gold;
  }
}

.container-film13 {
  position: relative;
  height: 100%;
  min-height: 100%;
  min-height: 100vh;
  nav {
    position: absolute;
    z-index: 99;
    top: 0; 
    left: 0;
  }
}

.film13-remote {
  position: absolute;
  z-index: 99;
  top: 65px;
  left: $spacer;

  button {
    @include unsetBtn;
  }
  ul {
    display: grid;
    width: 100px;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: $spacer;
    grid-auto-rows: $spacer*2;
    
    list-style: none;
    * {
      width: 100%;
      height: 100%;
    }
    > * {
      place-self: center;
      &:hover {
        cursor: pointer;
      }
    }
  }
}

.icon {
  * {
    transition: $transition;
    fill: $white !important;
    stroke: transparent !important;
  }

  &:hover,
  &.active {
    * {
      fill: $gold !important;
      stroke: transparent !important;
    }
  }
}

// responsive grid

.container-film13 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid-film13 {
  position: relative;
  height: 100%;
  > * {
    width: 100%;
    height: 100%;
  //  border: 1px solid red;
    position: absolute;
    top: 0;
    left: 0;
  }
}


@media (max-width: 999px) {
  .grid-film13 {
    width: 1000px;
    height: 563px;
  } 
}


@media (min-width: 999px) {
  .grid-film13 {
    width: 100vw;
    height: 56.3vw;
  } 
}
.unset-btn {
  @include unsetBtn;
}


.video-grid-overlay {
  position: fixed;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .hover {
    width: 100vw;
    height: 56.3vw;
  }
}
.container-poster-images {
  opacity: 0.18;
  .hover-item {
    overflow: hidden;
    img {
      min-width: 100%;
      min-height: 100%;
      object-fit: cover;
    }
  }
}


// modal

.container-filmmodal {
  width: 100%;
  height: 100vh;
  overflow: hidden;
//  border: 1px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-player-wrapper {
  width: 90%;
  @media (max-width: $bp-sm) {
    width: 80vw;
  }
  .modal-player-wrapper div {
    width: 100%;
    height: 100%;
  }
}

.filmmodal-controls {
  button {
    @include unsetBtn();
  }

  .close-modal {
    position: absolute;
    right: $spacer;
    top: $spacer;
    width: 2ch;
    .icon {
      width: $spacer*2;
      height: $spacer*2;
      display: block;
    }
  }

  .pagination-button {
    position: absolute;
    top: 35vh;
    height: 30vh;
    z-index: 999;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: $spacer;
    &:hover {
      cursor: pointer;
    }

    svg {
      width: $spacer*2;
      * {
        width: 100%;
      }
    }

  }

  .pagination-button-prev {
    left: 0;
    align-items: flex-start;
    text-align: left;
  }

  .pagination-button-next {
    right: 0;
    align-items: flex-end;
    text-align: right;
  }


}




// grid



.hover-item-text {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;

  h2 {
    font-size: 1.3em;
    @media (max-width: $bp-sm) {
      font-size: .9em;
    }
  }
  h3 {
    font-size: 1em;
    @media (max-width: $bp-sm) {
      font-size: .7em;
    }
  }
  .icon {
    // position: absolute;
    // bottom: $spacer*2;
    font-size: .8em;
    @media (max-width: $bp-sm) {
      font-size: .5em;
    }
    padding-top: $spacer;
    &:hover {
      fill: $gold;
    }
  }
}

.hover-item {
  h2, h3, .icon {
    opacity: 0;
  }
}

.hover-item:hover {
  background: rgba(0,0,0,0.3);
  h2 {
    animation: .4s ease-in forwards fadeIn;
  }
  h3 {
    animation: .3s ease-in .1s forwards fadeIn;
  }
  .icon {
    animation: .3s ease-in forwards slideDown;
  }
}

// tutorial


.center {
  text-align: center;
}


ul.subtitles {
  @include unsetUl;
  display: flex;
  justify-content: center;
  > * {
    padding-right: $spacer*3;
    &:last-child {
      padding-right: 0;
    }
    @include linkHover;
  }
  .active-sub {
    color: $gold;
  }
}


.supporters-gallery {
  ul {
    @include unsetUl;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    > * {
      flex: 0 0 22%;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        max-width: 100%;
      }
    }
  }
}

// credits

ul.credits-list {
  @include unsetUl;
}

.credits-section a {
  color: $light;
  &:hover {
    color: $gold;
  }
}

.link-hover {
  @include linkHover;
}
.container-film13 {
  overflow-x: hidden;
}





// intro sections typography

.site-logo {
  margin: 0;
  font-size: 102px;
  line-height: 102px;
  text-align: center;
  text-transform: none;
}

.site-tagline,
.site-tagline * {
  margin: 0;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0;
}

.site-tagline {
  @media (max-width: 70ch) {
    width: 90%;
    margin: 0 auto;
  }
}
.section-title {
  margin: $spacer*3 0 $spacer 0;
  text-align: center;
}

.section-subtitle {
  margin: $spacer*6 0 $spacer*2 0;
  text-align: center;
  .credits-section & {
    font-size: 2em;
  }
}

.body-text {
  margin: 0;
  p {
    margin-bottom: 1em;
  }
  @media (max-width: 70ch) {
    width: 90%;
    margin: 0 auto;
  }
}

// credits grid

.credit-component {
  display: grid;
  grid-template-columns: 100px 1fr;
  grid-column-gap: $spacer*2;
  @media (max-width: $bp-sm) {
    grid-template-columns: 15vw 1fr;
    padding: 0 $spacer;
  }
  grid-auto-rows: min-content;
  margin: $spacer*4 0;

  .credit-image {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  .credit-text {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;

    display: grid;
    grid-template-columns: 1fr 30ch;
    @media (max-width: $bp-sm) {
      grid-template-columns: 1fr 20vw;
    }
    grid-auto-rows: min-content;

    .name {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 1;
      grid-row-end: 2;  
      padding-right: $spacer*2;
    }

    .role {
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 1;
      grid-row-end: 2;
      text-align: right;
    }

    .name, .role {
      align-self: start;
      @media (max-width: $bp-sm) {
        align-self: end;
      }
    }

    .bio {
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 2;
      grid-row-end: 3;
    }

  }

  img {
    max-width: 100%;
  }

  .icon svg {
    width: $spacer*2;
  }

  .name {
    letter-spacing: 0;
    text-transform: none;
    font-size: 1.5em;
    line-height: 1.2em;
  }

  .role {
    font-size: 1em;
    line-height: 1.2em;
    text-transform: uppercase;
  }

  .collapse-button,
  .link {
    text-transform: uppercase;
    display: inline-block;
    padding-right: $spacer*1.5;
    .link a {
      text-transform: uppercase;
    }
  }

  .collapse-button.open-collapse {
    color: $gold;
  }
}


// header 

.subtitle-controls {
  .section-title {
    font-size: 1em;
  }
}

.tutorial-text {
  margin-top: $spacer*10;
}

.container-about .text-wrapper,
.container-credits > *:last-child {
  padding-bottom: $spacer*10;
}

.subtle-btn {
  background: transparent;
  display: block;
  padding: 0;
  font-size: 1em;
  width: 100%;
  letter-spacing: 0;
  color: rgba($light, 0.8);
  text-align: center;
  padding-top: $spacer*3;
  padding-bottom: $spacer*10;
  &:hover {
    cursor: pointer;
    color: $gold;
    background: transparent !important;
  }
} 


// pagination
.film-modal-playing {
  .pagination-info {
    max-width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    img {
      max-width: 100%;
      @media (min-width: $bp-sm) {
        clip-path: circle(33%);
      }
      order: 1;
      margin-bottom: $spacer;
    }
    h2 {
      order: 2;
      font-size: 1em;
    }
    h3 {
      order: 3;
      font-size: 0.8em;
    }

    @media (max-width: $bp-sm) {
      max-height: inherit;
      position: absolute;
      top: 0;
      background: rgba($dark, 0.8);
      padding: 5px;
    }
  }
}

.film-modal-playing {
  img {
    @media (max-width: $bp-sm) {
      width: 100px;
    }
  }
}
.film-modal-ended {
  .modal-player-wrapper {
    width: 0;
  }

  .pagination-button {
    .pagination-info {
      opacity: 1;
    }
  }

  .filmmodal-controls {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    @media (min-width: $bp-sm) {
      max-width: 80%;
    }
    
    margin: 0 auto;
    .pagination-button {
      flex: 0 0 50%;
      position: relative;
      top: unset;
      height: auto;
      z-index: unset;
      left: unset;
      right: unset;
      display: flex;
      * {
        transition: 0.6s ease color;
      }
      &:hover {
        * {
          color: $gold;
        }
      }
      .pagination-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        @media (max-width: $bp-sm) {
          padding: 5px;
        }
        img {
          max-width: 100%;
          order: 1;
          margin-bottom: $spacer*3;
        }
        h2 {
          order: 2;
          font-size: 1em;
        }
        h3 {
          order: 3;
          font-size: 0.8em;
        }
      }
    }
    .countdown {
      position: absolute;
      left: 0;
      bottom: $spacer*3;
      width: 100%;
      text-align: center;
      opacity: 0.5;
      text-transform: uppercase;
    }
  } 

}


// animations and transitions

.intro-sections .section-show,
.site-logo,
.site-tagline,
.play-film13-button,
.subtitle-controls,
.tutorial-text {
  @include fadeInStartKeyframe();
}

.site-logo {
  animation: .3s ease-in forwards fadeIn;
}

.site-tagline {
  animation: .3s ease-in .5s forwards fadeIn;
}

.play-film13-button,
.subtitle-controls {
  animation: .4s ease-in .9s forwards fadeIn;
}

.tutorial-text {
  animation: 1.5s ease-in 1s forwards fadeIn;
}


.intro-sections .section-show {
  animation: .3s ease-in forwards fadeIn;
}


.layer-stack-intro {
  transition: 1s ease transform;
}
.layer-stack-show.layer-stack-intro {
  transform: translateX(0);
}
.layer-stack-hidden.layer-stack-intro {
  transform: translateX(-100vw);
}

.layer-stack-film13 {
  transition: 1s ease opacity;
}
.layer-stack-hidden.layer-stack-film13 {
  opacity: 0;
}
.layer-stack-show.layer-stack-film13 {
  opacity: 1;
}

.layer-stack-film-modal {
  transition: 1s ease opacity;
}
.layer-stack-hidden.layer-stack-film-modal {
  opacity: 0;
}
.layer-stack-show.layer-stack-film-modal {
  opacity: 1;
}

.layer-stack-hidden {
  z-index: 0;
  // max-height: 0;
  overflow: hidden;
}

.layer-stack-show {
  z-index: 10;
}

.film-modal-playing {
  background: rgba($dark, 1);
}

.film-modal-ended {
  background: rgba($dark, .8);  
}

.film-modal-playing {
  .pagination-info {
    opacity: 0;
    @media (min-width: $bp-sm) {
      max-height: 0;
    }
    transition: .3s ease-out opacity;
  }
  
  .pagination-button:hover {
    .pagination-info {
      opacity: 1;
      max-height: auto;
      h2, h3 {
        text-shadow: 5px 0px rgb(0 0 0 / 13%);
      }
    }
  }
}


.film-modal-ended {
  .pagination-label {
    display: none;
  }
}